@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/search")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/search")
}

<div class="container">
    <div class="row">

        <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Søk">
        </div>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>
                        <strong>Fornavn</strong>
                    </td>
                    <td>
                        <strong>Etternavn</strong>
                    </td>
                    <td>
                        <strong>Rolle</strong>
                    </td>
                    <td>
                        <strong>Nøkkelkompetanse</strong>
                    </td>
                </tr>
            </thead>

            
        </table>

    </div>
</div>
