@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/search")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/search")
}


<div class="container">
    <div class="row">

        <div class="form-group col-lg-11">
            <input type="search" class="form-control" id="txtsearch" placeholder="">
        </div>

        <button type="button" class="btn btn-primary col-lg-1" id="søk">Søk</button>


        <table class="table table-striped table-hover">
            <tr>
                <td>gsjdkgnksddg</td>
                <td>gnsdjkngsjk</td>
                <td>fnjkasnfsjk</td>
            </tr>
            <tr>
                <td>nfgsdjklgnjsk</td>
                <td>gbnsdfgjksnjk</td>
                <td>gnsdjkgndskgdsmkl</td>
            </tr>
        </table>
    </div>
</div>

