<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rediger</h4>
            </div>
            <div id="EditModalAddText" class="modal-body">

                <h4 id="editLoader">Jobber <i class="fa fa-spinner fa-spin"></i></h4>
                <input id="edit-txt" type="text" class="form-control" autocomplete="off">
                <select id="modal-select" class="form-control">
                    @for (var i = 0; i <= 100; i++)
                    {
                        <option>@(@DateTime.Now.Year - i)</option>
                    }
                </select>

            </div>
            <div class="modal-footer">
                <button id="editmodalDontAddItem" type="button" class="btn btn-default" data-dismiss="modal">Avslutt (Esc)</button>
                <button id="editmodalAddItem" type="button" class="btn btn-success">Endre (Enter)</button>
            </div>
        </div>
    </div>
</div>
