@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using GeoCV.Models

@model IEnumerable<CVVersjon>

@{
    ViewBag.Title = "Ansatte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/employees")
}
@section scripts{
    @Scripts.Render("~/bundles/js/employees")
}

<div class="container">
    <div class="row">

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul id="ansatte-tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#ansatte" aria-controls="ansatte" role="tab" data-toggle="tab">Ansatte</a></li>
                <li role="presentation"><a href="#ny-ansatt" aria-controls="ny-ansatt" role="tab" data-toggle="tab">Ny Ansatt</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="ansatte">

                    <h4 id="employee-load">Laster inn ansatte <i class="fa fa-circle-o-notch fa-spin"></i></h4>

                    <table class="table table-hover table-bordered hidden">
                        <thead>
                            <tr>
                                <th>Fornavn</th>
                                <th>Etternavn</th>
                                <th>Status</th>
                                <th>CV</th>
                                <th>Slett</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>


                    </table>

                </div>

                <div role="tabpanel" class="tab-pane" id="ny-ansatt">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Fornavn</label>
                                        <input type="text" class="form-control update-txt" id="Fornavn-txt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Etternavn</label>
                                        <input type="text" class="form-control update-txt" id="Etternavn-txt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Epost</label>
                                        <input type="text" class="form-control update-txt" id="Epost-txt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Passord</label>
                                        <input type="password" class="form-control update-txt" id="Passord-txt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Gjenta Passord</label>
                                        <input type="password" class="form-control update-txt" id="Gjenta-Passord-txt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Rolle</label>
                                        <select id="role-select" class="form-control">
                                            <option>Admin</option>
                                            <option selected>Bruker</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button id="ny-ansatt-btn" class="btn btn-success" type="button">Legg til</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
