@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using GeoCV.Models

@model IEnumerable<CVVersjon>

@{
    ViewBag.Title = "Ansatte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/employees")
}
@section scripts{
    @Scripts.Render("~/bundles/js/employees")
}

<div class="container">
    <div class="row">

        <div class="form-group">
            <input type="text" class="form-control" id="search-employee" placeholder="Søk etter ansatt">
        </div>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>
                        <strong>Fornavn</strong>
                    </td>
                    <td>
                        <strong>Etternavn</strong>
                    </td>
                </tr>
            </thead>

            <tbody>

                @foreach (var value in Model)
                {
                    <tr>
                        <td>@value.Person.Fornavn</td>
                        <td>@value.Person.Etternavn</td>
                        <td>Rediger</td>
                        <td></td>
                        <td></td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
