@using System.Web.Optimization

@model IEnumerable<GeoCV.Models.Prosjekt>

@{
    ViewBag.Title = "Legg til teknisk profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/TekniskProfilLeggTil")
}
@section scripts{
    @Scripts.Render("~/bundles/js/TekniskProfilLeggTil")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Legg til teknisk profil</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-folder-open"></i> Velg prosjekt</div>
                <div class="panel-body">

                    <ul class="list-group">
                        @foreach (var Prosjekt in Model)
                        {
                            <li class="list-group-item">@Prosjekt.Navn</li>
                        }
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-plus"></i> Ny teknisk profil</div>
                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label for="ny-profil-navn-txt" class="col-lg-2 control-label">Navn</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="ny-profil-navn-txt" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-2">
                                <button id="ny-profil-lagre-btn" type="button" class="btn btn-success" tabindex="-1">Legg til</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
