<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cvportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cvportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cvportal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cvportal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CvPortalEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=cjfi3lhqgc.database.windows.net;Initial Catalog=CvPortal;User ID=johaa;Password=Pepperkakemann1;Connect Timeout=60;Application Name=EntityFramework" Name="Data Source=cjfi3lhqgc.database.windows.net;Initial Catalog=CvPortal;User ID=johaa;Password=Pepperkakemann1;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GeoCV.Models.CvPortalEntities, GeoCV" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityString" Order="2" Enabled="False">
          <Destination Path="Data Source=cjfi3lhqgc.database.windows.net;Initial Catalog=CvPortal;User ID=johaa;Password=Pepperkakemann1;Connect Timeout=60;Application Name=EntityFramework" Name="Data Source=cjfi3lhqgc.database.windows.net;Initial Catalog=CvPortal;User ID=johaa;Password=Pepperkakemann1;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GeoCV.Models.ApplicationDbContext, GeoCV" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CvPortalEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Database.csdl|res://*/Models.Database.ssdl|res://*/Models.Database.msl;provider=System.Data.SqlClient;provider connection string="Data Source=cjfi3lhqgc.database.windows.net;Initial Catalog=CvPortal;User ID=johaa;Password=Pepperkakemann1;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityString-Web.config Connection String">
      <ParameterValue>Data Source=cjfi3lhqgc.database.windows.net;Initial Catalog=CvPortal;User ID=johaa;Password=Pepperkakemann1;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>