@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model IEnumerable<GeoCV.Models.Prosjekt>

@{
    ViewBag.Title = "Legg til prosjekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/myprojects")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/myprojects")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Legg til prosjekt</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Alle prosjekter</div>
                <div class="panel-body">

                    <ul class="list-group">
                        @foreach (var Prosjekt in Model)
                        {
                            <li class="list-group-item">@Prosjekt.Navn</li>
                        }
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Prosjekt filter</div>
                <div class="panel-body">

                    <input type="text" class="form-control table-filter" placeholder="Filter" autocomplete="off">

                </div>
            </div>
        </div>

    </div>



</div>