@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model IEnumerable<GeoCV.Models.Feedback>

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/feedback")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/feedback")
}

<div class="row">
    <div class="col-lg-12">

        <h2>Gi feedback</h2>

        <textarea class="form-control" id="message-text" rows="6" placeholder="Skriv her"></textarea>

        <button id="send-feedback">Send</button>


        <br /><br />

        @if (User.IsInRole("Admin"))
        {
            foreach (var Feedback in Model)
            {
                <hr />
                <h5>@Feedback.Beskjed</h5>

            }
        }
        

    </div>
</div>