@using System.Web.Optimization

@{
    ViewBag.Title = "Ansatte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/report")
}
@section scripts{
    @Scripts.Render("~/bundles/js/report")
}

<h2>Rapport</h2>

