@{
    ViewBag.Title = "Home Page";
}
@section css{
    @Styles.Render("~/bundles/css/home")
}
@section scripts{
    @Scripts.Render("~/bundles/js/home")
}

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>

</div>