@using System.Web.Optimization

@{
    ViewBag.Title = "Prosjekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/project")
}
@section scripts{
    @Scripts.Render("~/bundles/js/project")
}

<h2>Prosjekt</h2>

