@using System.Web.Optimization
@using System.Web.Mvc
@using Microsoft.AspNet.Identity

@model GeoCV.Models.CVVersjon

@{
    ViewBag.Title = "Innstillinger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/settings")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/settings")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Innstillinger</h1>
        </div>
    </div>

    <div class="row">


        <div class="col-lg-3">

            <div class="panel panel-primary">
                <div class="panel-heading">Personlig</div>
                <ul class="list-group">
                    <li class="list-group-item"><div class="switch-text">Fornavn</div><input class="switch" type="checkbox" name="my-checkbox" checked></li>
                    <li class="list-group-item"><div class="switch-text">Mellomnavn</div><input class="switch" type="checkbox" name="my-checkbox" checked></li>
                    <li class="list-group-item"><div class="switch-text">Etternavn</div><input class="switch" type="checkbox" name="my-checkbox" checked></li>
                </ul>
            </div>

        </div>


    </div>
</div>




