@using System.Web.Optimization

@model IEnumerable<GeoCV.Models.ListeKatalog>

@{
    ViewBag.Title = "Rediger database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/database")
}
@section scripts{
    @Scripts.Render("~/bundles/js/database")
}

@Html.Partial("_RedigerModal")

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rediger database</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-5">

            <table id="database-tabell" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th data-sort="string">Element <i class="fa pull-right hidden"></i></th>
                        <th data-sort="string">Katalog <i class="fa pull-right hidden"></i></th>
                        <th>Slett</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Oppføring in Model)
                    {
                        <tr id="@Oppføring.ListeKatalogId" data-katalog="@Oppføring.Katalog" data-element="@Oppføring.Element">
                            <td class="element-td col-lg-5" data-id="@Oppføring.ListeKatalogId" data-element="@Oppføring.Element">@Oppføring.Element</td>
                            <td class="katalog-td col-lg-5">@Oppføring.Katalog</td>
                            <td><a data-id="@Oppføring.ListeKatalogId" class="del-link col-lg-2">Slett</a></td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>

        <div class="col-lg-2">

            <div class="panel panel-default filter-panel">
                <div class="panel-heading">Katalog filter</div>
                <div class="panel-body">

                    <input type="text" class="form-control" placeholder="Filter" autocomplete="off">

                    <ul class="list-group">
                        @foreach (var Katalog in Model.Select(x => x.Katalog).Distinct())
                        {
                            <li class="list-group-item">@Katalog</li>
                        }
                    </ul>



                </div>
            </div>

        </div>

    </div>
</div>
