@info-bakgrunnsfarge: #D9EDF7;
@info-tekstfarge: #31708f;

#prosjekt-panel .panel-body {
    padding: 0;

    #prosjekt-tabell {
        margin-bottom: 0;

        tbody {

            a, a:hover, a:focus {
                text-decoration: none;
                color: blue;
            }

            tr:hover {
                cursor: pointer;
            }
        }
    }
}

#avsluttede-prosjekter-panel{
    min-height: 113px;
}

.status-panel .td-flex {
    div {
        display: flex;
        align-items: center;

        div {
            -ms-flex: 1;
            flex: 1;
        }
    }
}

.status-panel-header {
    margin-left: 4px;
}

.td-flex {
    display: flex;
    align-items: center;

    div {
        -ms-flex: 1;
        flex: 1;
    }
}

.form-horizontal {
    .form-group:last-child {
        margin-bottom: 0;
    }
}

button a, button a:hover, button a:focus {
    color: white;
    text-decoration: none;
}

.slett-panel {
    .col-lg-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .bekreftelses-rad {
        margin-top: 10px;
    }
}
