.table-hover > tbody > tr:hover {
    cursor: pointer;
}

.del-link {
    padding: 0;
}

.filter-panel {
    input[type="text"] {
        margin-bottom: 15px;
    }
    .list-group {
        margin-bottom: 0;
    }
}

.katalog-panel{
    .list-group {
        margin-bottom: 0;
    }
}

.nytt-element-panel{
    input{
        margin-bottom: 15px;
    }
}
