.tab-content{
    padding: 15px;
    border: 1px solid #dddddd;
    border-top: none;
    background: rgba(0, 0, 0, 0.35);
    color: white;
}

.input-group span{
    min-width: 60px;
}

#shadowBrukerLink{
    color: yellow;
}

.side-label{
    padding-top: 9px;
}