@using System.Web.Optimization
@model GeoCV.Models.CVVersjon

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}
@section css{
    @Styles.Render("~/bundles/css/dashboard")
}
@section scripts{
    @Scripts.Render("~/bundles/js/dashboard")
}

<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Personal/">
                    <div class="panel-body">
                        <i class="fa fa-info-circle"></i>
                        <div>
                            Personlig Informasjon
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Expertise/">
                    <div class="panel-body">
                        <i class="fa fa-terminal"></i>
                        <div>
                            Nøkkelkompetanse
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Education/">
                    <div class="panel-body">
                        <i class="fa fa-graduation-cap"></i>
                        <div>
                            Utdannelse
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Work/">
                    <div class="panel-body">
                        <i class="fa fa-building"></i>
                        <div>
                            Arbeidserfaring
                        </div>
                    </div>
                </a>

            </div>
        </div>


    </div>
</div>



<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Pro/">
                    <div class="panel-body">
                        <i class="fa fa-folder-open"></i>
                        <div>
                            Prosjekter
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Settings/">
                    <div class="panel-body">
                        <i class="fa fa-cog"></i>
                        <div>
                            Innstillinger
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Download/Pdf">
                    <div class="panel-body">
                        <i class="fa fa-download"></i>
                        <div>
                            Last ned CV
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>