@using System.Web.Optimization
@model GeoCV.Models.CVVersjon

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}
@section css{
    @Styles.Render("~/bundles/css/dashboard")
}
@section scripts{
    @Scripts.Render("~/bundles/js/dashboard")
}

<div class="container">
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">

                <div class="row">
                    <a class="panel-link" href="~/Cv/">
                        <div class="panel-body">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <div>
                                Din CV
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Employees/">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div>
                            Ansatte
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Projects/">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        <div>
                            Prosjekter
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Search/">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <div>
                            Søk
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>

