@using System.Web.Optimization

@model GeoCV.Models.CVVersjon

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashbord";
}
@section css{
    @Styles.Render("~/bundles/css/dashboard")
}
@section scripts{
    @Scripts.Render("~/bundles/js/dashboard")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            @if (Model.Person.Fornavn.Substring(Model.Person.Fornavn.Length - 1).Equals("s"))
            {
                <h1 class="page-header">@Model.Person.Fornavn' dashbord</h1>
            }
            else
            {
                <h1 class="page-header">@Model.Person.Fornavn's dashbord</h1>
            }
        </div>
    </div>

    <div class="row">

    </div>
</div>