@using System.Web.Optimization
@model GeoCV.Models.CVVersjon

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}
@section css{
    @Styles.Render("~/bundles/css/dashboard")
}
@section scripts{
    @Scripts.Render("~/bundles/js/dashboard")
}

<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Personal/">
                    <div class="panel-body">
                        <i class="fa fa-info-circle"></i>
                        <div>
                            Personlig Informasjon
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Expertise/">
                    <div class="panel-body">
                        <i class="fa fa-terminal"></i>
                        <div>
                            Nøkkelkompetanse
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Education/">
                    <div class="panel-body">
                        <i class="fa fa-graduation-cap"></i>
                        <div>
                            Utdannelse
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Work/">
                    <div class="panel-body">
                        <i class="fa fa-building"></i>
                        <div>
                            Arbeidserfaring
                        </div>
                    </div>
                </a>

            </div>
        </div>



    </div>
</div>



<div class="container">
    <div class="row">


        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/MyProjects/">
                    <div class="panel-body">
                        <i class="fa fa-folder-open"></i>
                        <div>
                            Prosjekter
                        </div>
                    </div>
                </a>

            </div>
        </div>


        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Settings/">
                    <div class="panel-body">
                        <i class="fa fa-cog"></i>
                        <div>
                            CV Innstillinger
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="~/Download/Pdf">
                    <div class="panel-body">
                        <i class="fa fa-file-pdf-o"></i>
                        <div>
                            Last ned PDF
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">

                <a class="panel-link" href="/Download/Word">
                    <div class="panel-body">
                        <i class="fa fa-file-word-o fa-flip-horizontal"></i>
                        <div>
                            Last ned Word
                        </div>
                    </div>
                </a>

            </div>
        </div>


        @if (User.IsInRole("Admin"))
        {

            <div class="col-lg-3">
                <div class="panel panel-default admin">

                    <a class="panel-link" href="/Employees/">
                        <div class="panel-body">
                            <i class="fa fa-users"></i>
                            <div>
                                Ansatte
                            </div>
                        </div>
                    </a>

                </div>
            </div>


    <div class="col-lg-3">
        <div class="panel panel-default admin">

            <a class="panel-link" href="~/NewProject/">
                <div class="panel-body">
                    <i class="fa fa-plus-square"></i>
                    <div>
                        Nytt Prosjekt
                    </div>
                </div>
            </a>

        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-default admin">

            <a class="panel-link" href="~/Projects/">
                <div class="panel-body">
                    <i class="fa fa-folder-open"></i>
                    <div>
                        Alle Prosjekter
                    </div>
                </div>
            </a>

        </div>
    </div>

            <div class="col-lg-3">
                <div class="panel panel-default admin">

                    <a class="panel-link" href="/Search/">
                        <div class="panel-body">
                            <i class="fa fa-search"></i>
                            <div>
                                Søk
                            </div>
                        </div>
                    </a>

                </div>
            </div>




            

        }

    </div>
</div>