@using System.Web.Optimization

@{
    ViewBag.Title = "Prosjekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/projects")
}
@section scripts{
    @Scripts.Render("~/bundles/js/projects")
}

<h3>Opprett nytt prosjekt</h3>
<h3>Prosjekt Liste</h3>

