@using System.Web.Optimization

@{
    ViewBag.Title = "Legg til prosjekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/projects")
}
@section scripts{
    @Scripts.Render("~/bundles/js/projects")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Legg til prosjekt</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-8">
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="ny-kunde-txt" class="col-lg-2 control-label">Kunde</label>
                    <div class="col-lg-8">
                        <input id="ny-kunde-txt" type="text" class="form-control" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="ny-prosjektnavn-txt" class="col-lg-2 control-label">Prosjektnavn</label>
                    <div class="col-lg-8">
                        <input id="ny-prosjektnavn-txt" type="text" class="form-control" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="ny-beskrivelse-txt" class="col-lg-2 control-label">Beskrivelse</label>
                    <div class="col-lg-8">
                        <input id="ny-beskrivelse-txt" type="text" class="form-control" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <button id="nytt-prosjekt-legg-til-btn" class="btn btn-success" type="button">Legg til nytt prosjekt</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
